.item{
    width:350px;
}
.item p{
    margin:6px 0px;
}
.item-prices{
    display: flex;
    gap:20px;
}
.item-price-new{
    color:#374151;
    font-size:18px;
    font-weight:600;

}
.item-price-old{
    color: #8c8c8c;
    font-size:18px;
    font-weight:500;
    text-decoration: line-through;
}
.item:hover {
    transform: scale(1.05);
    transition: transform 0.6s;
}

@media (max-width: 1200px) {
    .item {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .item {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .item {
        width: 200px;
    }
}

@media (max-width: 576px) {
    .item {
        width: 100%;
    }

    .item-prices {
        flex-direction: column;
        gap: 10px;
    }

    .item-price-new, .item-price-old {
        font-size: 16px;
    }
}