/* Breadcrum.css */

.breadcrum {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
    background:linear-gradient(to right, #000000, #434343);
    border-radius: 5px;
    margin: 20px 0;
  }
  
  .breadcrum img {
    margin: 0 10px;
    width: 10px;
    height: 10px;
  }
  
  .breadcrum span {
    font-weight: bold;
    color: #333;
  }
  